.cover{
  width: calc(100% - 48px*2);
  position: relative;
  background-size: cover;
  margin: 92px auto 0;
  background-color: #2A2C2F;
}



@media screen and (max-width: 1279.98px) {
  .cover{
    width: 100%;
  }
}