.cover{
  width: 100%;
  position: relative;
  background-size: cover;
  padding: 0 48px;
  background-color: #2A2C2F;
  box-sizing: border-box;
  margin-top: 92px;
}

@media screen and (max-width: 1279.98px) {
  .cover{
    padding: 0;
  }
}

@media screen and (max-width: 1023.98px) {
  .cover{
    margin-top: 90px;
  }
}

@media screen and (max-width: 1023.98px) {
  .cover{
    margin-top: 66px;
  }
}